Grit_Flags.docx
*.ini
*.gba
build/*
*/Images/*.h
*.sgm
*.dmp
*.bak
*.lnk
*.sav
*.sv1
*.sv2
*.sv3
*.sv4
*.sa1
*.sa2
*.sa3
*.sa4
*.sg1
*.sg2
*.sg3
*.sg4
*.ss1
*.ss2
*.ss3
*.ss4
*.ss5
*.ss6
*.ss7
*.ss8
*.ss9
*.toml
Multi Target Moves Plan.txt
generatedrepoints
*__pycache__
*.idea
tables.xlsx
cfru_thread.txt
src/Tables/criminon_trainer_spreads.c
src/start_menu_unbound.c
src/tier_bans.c
src/unbound_util.c
strings/unbound.string
Cover Art.png

# generated temporary files
.fuse*

# pycache files
*.pyc
